<style>
h1 {  
  font-family: 'Fugaz One',  cursive;
  font-weight: 400; 
  color: #FFF400; 
}
h2 {  
  font-family: 'Fugaz One',  cursive;
  font-weight: 400; 
  color: #FF6200; 
}
.carousel-caption {
position: absolute;
right: 0px;
bottom: 0;
left: 0;
padding-right:50px;
padding-left:70px;

padding-bottom:325px;
background: transparent;
}

.container-fluid {
padding-right: 0px;
padding-left: 0px;
}

.carousel {
    height: 570px;
    overflow: hidden;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}

</style>

<div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item">
                    <img src="/img/foto1.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>First Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item active">
                    <img src="/img/foto2.jpg" alt="">
                    <div class="carousel-caption">
                      <h1>Escapate el fin de semana!</h1>
                      <h2>Escuela de artes</h2>
                      <table>
                        <tbody>
                          <tr>
                            <td><img src="/img/p-1.png"></td>
                            <td><h2>tu +</h2></td>
                          </tr>
                          <tr>
                            <td><img src="/img/d-1.png"></td>
                             <td><h2> + 321223</h2></td>
                          </tr>
                        </tbody>
                      </table>
                      <h4></h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.<br> Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <button class="btn btn-large btn-warning" type="button">Enterate</button>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/img/foto3.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Third Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>