<style>
.navbar-inverse .navbar-inner {
background-color: #3A3731;
background-image: -moz-linear-gradient(top, #3A3731, #3A3731);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3A3731), to(#3A3731));
background-image: -webkit-linear-gradient(top, #3A3731, #3A3731);
background-image: -o-linear-gradient(top, #3A3731, #3A3731);
background-image: linear-gradient(to bottom, #3A3731, #3A3731);
background-repeat: repeat-x;
border-color: #3A3731;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A3731', endColorstr='#3A3731', GradientType=0);
}

</style>


<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brands" style=" margin:0 auto; height: 5px; width: 70px;"><img src="/img/logo-2.png" style="height: 77px; width: 64px;"></div>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>