<style>
.navbar-inverse .navbar-inner {
background-color: #00a478;
background-image: -moz-linear-gradient(top, #00a478, #00a478);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3A3731), to(#3A3731));
background-image: -webkit-linear-gradient(top, #3A3731, #3A3731);
background-image: -o-linear-gradient(top, #3A3731, #3A3731);
background-image: linear-gradient(to bottom, #3A3731, #3A3731);
background-repeat: repeat-x;
border-color: #3A3731;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A3731', endColorstr='#3A3731', GradientType=0);
}
.navbar-inner {
  background-image: -moz-linear-gradient(top, #449700, #53a014);
  background-image: -ms-linear-gradient(top, #449700, #53a014);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#449700), to(#53a014));
  background-image: -webkit-linear-gradient(top, #449700, #53a014);
  background-image: -o-linear-gradient(top, #449700, #53a014);
  background-image: linear-gradient(top, #449700, #53a014);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'449700, endColorstr='#'53a014, GradientType=0);
}

</style>


<div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <div class="brands" style=" margin:0 auto; height: 5px; width: 70px;"><img src="/img/logo-2.png" style="height: 77px; width: 64px;"></div>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <!--<ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>-->
            <%= form_tag sites_path, :method => 'get', :class => 'form-search' do %>
            <div class="input-append">
              <%= text_field_tag :search, params[:search], :class =>'span2 search-query' %>
              <%= submit_tag "Buscar", :nombre => nil, :class => 'btn' %>
            </div>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>