<style>

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	border: 1px solid #ccc;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	/*width: 320px;
	height: 427px;*/
	width: 360px;
	height: 270px;

}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	background: #00A480;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #FFF400;
}




/**/

.container-fluid {
padding-right: 0px;
padding-left: 0px;
}

.carousel {
    height: 650px;
    overflow: hidden;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}
.display {
width: 100%;
border: 1px dashed #e5e5e5;
padding: 9px;
margin: 19px 0 0 -10px;
overflow: hidden;
}

/**/
.navbar .brands {
display: block;
float: center;
/*margin-left: -20px;*/
font-size: 20px;
font-weight: 200;
color: #777777;
/*background-color: #ffe300;*/
text-shadow: 0 1px 0 #ffffff;
}

</style>


<div class="container-fluid">

<%= render 'share/carousel'%>

</div>
<div class="container">
	<div class="row">
		<h1>Solo</h1>
    
		<ul class="thumbnails display">
      <%@site.each do |sites|%>
            <li class="span3">
              <a href="#" class="thumbnail">
                <h4><%=sites.nombre%></h4>
                <h4></h4>
                <img alt="360x270" style="width: 260px; height: 120px;" src="">
              </a>
            </li>
            <% end %>
          </ul>
        


          <h1>Romance</h1>
		<ul class="thumbnails display">
            <li class="span5">
              <a href="#" class="thumbnail">
                <img alt="360x270" style="width: 360px; height: 270px;" src="/img/img1.png">
              </a>
            </li>
          </ul>
           <h1>Cultura</h1>
		<ul class="thumbnails display">
            <li class="span3">
              <a href="#" class="thumbnail">
                <img alt="360x270" style="width: 260px; height: 120px;" src="/img/img1.png">
              </a>
            </li>
          </ul>

	</div>

</div>
